.task2 table td{
    border: 1px solid black;
    padding: 8px;
}
.task2 table th{
    border: 1px solid black;
    padding: 5px;
    background-color: darkgray;
}

.task2 table {
    border-collapse: collapse;

}